<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>A Random Artifact</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>A Random Artifact</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src= <%= @artifact_metadata["image_url_full"]  %> width="100%" height="100%">
        </div>
        <div class="col">
          <table class="table">
            <tr> 
              <th> Accession Number </th>
              <td> <%= @artifact_metadata["accession_number"] %> </td>
            </tr>
            <% if @artifact_metadata["title"] != "" %>
              <tr> 
                  <th> Title </th>
                  <td> <%= @artifact_metadata["title"] %> </td>
                </tr>
            <% end %>
            <% if @artifact_metadata["description"] != "" %>
              <tr> 
                <th> Description </th>
                <td> <%= @artifact_metadata["description"] %> </td>
              </tr>    
            <% end %>
             <tr> 
                <th> Object Type </th>
                <td> <%= @artifact_metadata["object_type"] %>  </td>
            </tr>   
            <% if @artifact_metadata["artist_maker"] != "" %> 
              <tr> 
                  <th> Artist/Maker </th>
                  <td> <%= @artifact_metadata["artist_maker"] %>  </td>
              </tr> 
            <% end %>
            <% if @artifact_metadata["date"] != "" %> 
              <tr> 
                <th> Date </th>
                <td> <%= @artifact_metadata["date"] %>  </td>
              </tr>     
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p></p>
        </div>
      </div>
    </div>
    <footer class=" text-center text-lg-start">
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0);">
        Random artifacts from the <a href="https://www.vam.ac.uk">V&A museum</a>, served via the <a href="https://developers.vam.ac.uk">V&A museum API</a>
      </div>
    </footer>
    <!-- <p> <%= @artifact_response %> <p>   -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>